<HTML>
<HEAD>
<TITLE>語法測試版</TITLE>
</HEAD>
<BODY>

<script>
liff.sendMessages([
  {
    type: 'text',
    text: 'Hello, World!'
  }
])
  .then(() => {
    console.log('message sent');
  })
  .catch((err) => {
    console.log('error', err);
  });


</script>
</BODY>
</HTML>
