<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta http-equiv="description" content="javascript計算器，由指令碼之家制作" /> 
<title>計算器</title> 
<script type="text/javascript"> 
alert("本計算器由指令碼之家制作"); 
function getResult(type){ 
if(checkData()){ 
} 
var no1=parseInt(document.jisuanqi.no1.value); 
var no2=parseInt(document.jisuanqi.no2.value); 
var result; 
switch(type){ 
case ' ': 
result = no1 no2; 
break; 
case '-': 
result =no1-no2; 
break; 
case '*': 
result =no1*no2; 
break; 
case '/': 
result =no1/no2; 
break; 
case '%': 
result =no1%no2; 
break; 
} 
document.jisuanqi.result.value=result; 
} 
function checkData(){ 
if(document.jisuanqi.no1.value==""){ 
alert("第一個數字不能為空!請重新輸入"); 
return; 
} 
if(document.jisuanqi.no2.value==""){ 
alert("第二個不能為空!請重新輸入"); 
return; 
} 
if(document.jisuanqi.no1.value=="0"){ 
alert("第一個不能為零!請重新輸入"); 
return; 
} 
if(isNaN(document.jisuanqi.no1.value)){ 
alert("第一個不是數字!請重新輸入"); 
return; 
} 
if(isNaN(document.jisuanqi.no2.value)){ 
alert("第二個不是數字!請重新輸入"); 
} 
} 
</script> 
</head> 
<body> 
<font size="6" color="#000000">本計算器由指令碼之家制作<br>QQ：873695957</font> 
<p align="center" /> 
<form name="jisuanqi"> 
no1:<input name="no1" /><br> 
no2:<input name="no2" /><br> 
result:<input name="result" /><br> 
<input type="button" value=" " onclick="getResult(' ')" /> 
<input type="button" value="-" onclick="getResult('-')" /> 
<input type="button" value="*" onclick="getResult('*')" /> 
<input type="button" value="/" onclick="getResult('/')" /> 
<input type="button" value="%" onclick="getResult('%')" /> 
</form> 
</p> 
</body> 
</html>
