<head>
</head>

<body>
  <div id="container">
    <h3 id="result">Something is going to happen here...</h3>
    <button onclick="scanCodeV3()">QR Code Reader</button>
  </div>
 
  <script>
    async function scanCodeV3() {
      await liff.init({ liffId: '1656609726-7anN2L1G' });
      
        const result = await liff.scanCodeV2();
        aab = result.value;
            
         liff.sendMessages([
        {
          type: 'text',
          text: aab
        }
      ])
        .then(() => {
          console.log('message sent');
        })
        .catch((err) => {
          console.log('error', err);
        });
      
    }
      scanCodeV3();
    
 </script>


</body></html>
