<head>
</head>

<body>
  <div id="container">
    <button onclick="scanCodeV3()">QR Code Reader</button>
  </div>
  <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
  <script>
    async function scanCodeV3() {
      await liff.init({ liffId: '1656609726-7anN2L1G' });
        
        const result = await liff.scanCodeV2();
        if (!liff.scanCodeV2) throw new Error("liff.scanCodeV2 不存在");
          this.showLoading("請稍候", "liff.scanCodeV2()");
          var i = _.get(await liff.scanCodeV2(), "value");
          this.$set(this.tests, 1, 1), await Swal.fire({
              icon: "success",
              title: "掃碼成功 V2",
              text: i
          })
         aab = result.value;
         
      
      
      
      
      
      
       await  liff.sendMessages([
        {
          type: 'text',
          text: aab
        }
      ])
        scanCodeV3()
    }
      
    
</script>


</body></html>
