<head>
</head>

<body>
  <div id="container">
    <button onclick="scanCodeV3()">QR Code Reader</button>
  </div>
  <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
  <script>
    async function scanCodeV3() {
      await liff.init({ liffId: '1656609726-7anN2L1G' });
      
        const result = await liff.scanCode();
        document.querySelector('#result').innerHTML = result.value;
            
         liff.sendMessages([
        {
          type: 'text',
          text: result.value
        }
      ])
        .then(() => {
          console.log('message sent');
        })
        .catch((err) => {
          console.log('error', err);
        });
      
    }
      scanCodeV3();
  </script>  



</body></html>
