<form action="/test" method="post">
<label for=fname">first name:</label><br>
<input type="test" id="fname" name="fname"><br>
<label for=lname">Last name:</label><br>
<input type="test" id="lname" name="lname">

<input type="submit" value="Submit">
</form>
