<head>
</head>

<body>
  <div id="container">
    <button onclick="scanCodeV3()">QR Code Reader</button>
  </div>
  <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
  <script>
    async function scanCodeV3() {
      await liff.init({ liffId: '1656609726-7anN2L1G' });
        
      
      
      
      
      showLoading(i, e) {
        Swal.fire({
            title: i,
            text: e,
            allowOutsideClick: !1,
            showConfirmButton: !1,
            willOpen: () => {
                Swal.showLoading()
            }
        })
    }
      
      }
    
      
    
</script>


</body></html>
