<!DOCTYPE html>
<html lang="en">
<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"  name="viewport" />
<head>
    
    <meta charset="UTF-8">
    <title>計算器</title>

    <style type="text/css">
        input {
            width: 75px;
            height: 45px;
            font-size: 35px
             }
        body {
            background-image: url(https://ppt.cc/fY7bix@.jpg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
        }
        
    </style>

</head>

<body>
   
    <script type="text/javascript">
        var ele; //用於獲取元件
        var resultOfExp;
        /*清空所有內容*/
        function clearAll() {
            ele = document.getElementById("result");
            ele.value = "";
            ele = document.getElementById("result")
            ele.value = "";
        }

        /*將按鈕對應的符號組合成表示式*/
        function inputExp(symbol) {
            ele = document.getElementById("result");
            ele.value += symbol;
        }

        function inputExp1(symbol) {
            ele = document.getElementById("come");
            ele.value = symbol;
        }

        function inputExp2(symbol) {
            ele = document.getElementById("come1");
            ele.value = symbol;
        }

        /*計算出結果*/
        function giveResult() {
            ele = document.getElementById("result");
            resultOfExp = eval(ele.value);
            ele = document.getElementById("result");
            ele.value = resultOfExp;
        }

        /*逐個刪除*/
        function deleteSymbol() {
            ele = document.getElementById("result");
            var exp = ele.value;
            var end = exp.length - 1;
            exp = ele.value.slice(0, end);
            ele.value = exp;
        }




    </script>
    <div align="center" style="position:relative;top:150px">
    <table align="center" style="height: 350px; width: 270px; padding-top: 50px">
    <div>

        <tr>
            <td colspan="4">
                
                <form action="/test1" method="post">
                
                <label for=result"></label><br>
                <div align="center" style="position:relative;top:-0px">
                <input type="test" id="result" name="result" style="height: 60px; width: 330px; font-size: 40px" />
                </div>

                <input type="test" id="come" name="come" style="display:none" />

                <input type="test" id="come1" value="收入" name="come1" style="display:none" />

                <div align="center" style="position:relative;top:440px ">                                                                                                
                <input type="submit" value="送出" >
                </div>                                   
                </form>
                
            </td>
        </tr>
        
        <tr>
            <td> <input type="button" id="aa" value="收入" style ="position:relative;left: 50px;top:-200px"  onclick="inputExp2('收入')" autofocus /></td>
            <td> <input type="button" id="bb" value="支出"  style ="position:relative;left: 100px;top:-200px"   onclick=" inputExp2('支出')" /></td>
        </tr>

        <tr>

            


            <td> <input type="button" id="eat" value="吃" style = "width: 65px; height: 65px; border-radius:50% ;border: none; position:relative ; top:-50px "  onclick="inputExp1('吃')" /></td>
            <td> <input type="button" id="drink" value="喝" style = "width: 65px; height: 65px; border-radius:50% ;border: none ; position:relative;top:-50px" onclick=" inputExp1('喝')" /></td>
            <td> <input type="button" id="paly" value="玩" style = "width: 65px; height: 65px; border-radius:50% ;border: none ; position:relative;top:-50px " onclick=" inputExp1('玩')" /></td>
            <td> <input type="button" id="happy" value="樂" style = "width: 65px; height: 65px; border-radius:50% ;border: none ; position:relative;left: -0px;top:-50px " onclick=" inputExp1('樂')" /></td>

        </tr>




        <tr>
            
            
            <td> <input type="button" id="btn_clear" value="C" onclick="clearAll()" /></td>
            
            <td> <input type="button" id="btn_(" value="("onclick="inputExp('(')" /></td>
            <td> <input type="button" id="btn_)" value=")" onclick="inputExp(')')" /></td>
            <td> <input type="button" id="btn_/" value="/" onclick="inputExp('/')" /></td>
            
        </tr>

        <tr>
            <td><input type="button" style="background-image:url(https://ppt.cc/fpTUgx@.jpg); id="btn_7" value="7" onclick="inputExp('7')" value="測試按鈕"></td>
            
            <td> <input type="button" id="btn_8" value="8" onclick="inputExp('8')" /></td>
            <td> <input type="button" id="btn_9" value="9" onclick="inputExp('9')" /></td>
            <td> <input type="button" id="btn_*" value="*" onclick="inputExp('*')" /></td>
        </tr>

        <tr>
            <td> <input type="button" id="btn_4" value="4" onclick="inputExp('4')"  /></td>
            <td> <input type="button" id="btn_5" value="5" onclick="inputExp('5')" /></td>
            <td> <input type="button" id="btn_6" value="6" onclick="inputExp('6')" /></td>
            <td> <input type="button" id="btn_-" value="-" onclick="inputExp('-')" /></td>
        </tr>

        <tr>
            <td> <input type="button" id="btn_1" value="1" onclick="inputExp('1')" /></td>
            <td> <input type="button" id="btn_2" value="2" onclick="inputExp('2')" /></td>
            <td> <input type="button" id="btn_3" value="3" onclick="inputExp('3')" /></td>
            <td> <input type="button" id="btn_+" value="+" onclick="inputExp('+')" /></td>
        </tr>

        <tr>
            <td> <input type="button" id="btn_=" value="=" onclick=" giveResult()" /></td>
            <td> <input type="button" id="btn_0" value="0" onclick=" inputExp('0')" /></td>
            <td> <input type="button" id="btn_." value="." onclick=" inputExp('.')" /></td>
            <td> <input type="button" id="btn_del" value="Del" onclick="deleteSymbol()" /></td>
            
        </tr>

       
        
    </table>

</body>

</html>
