<head>
</head>
<a href="https://liffsdk.line-scdn.net/scanqr/index.html?code=KDjRF6ep2VzwPbA9L7m9&liffClientId=1656359117&state=emXxwX5iJ5AB&liffRedirectUri=https%3A%2F%2Fliffsdk.line-scdn.net%2Fscanqr%2Findex.html" target="_blank">Fooish 技術教學</a>
<body>
  <div id="container">
    <h3 id="result">Something is going to happen here...</h3>
<td><input type="button" id="123" value="123" onclick="scanCodeV3()" value="測試按鈕"></td>  </div>
  <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
  <script>
   
     function scanCodeV3() {
       liff.init({ liffId: '1656609726-7anN2L1G' });
      
        liff.scanCodeV2().then(result => {
          // result = { value: '' }
        });
        }
     
   
   
    
  </script><script src="https://static.line-scdn.net/liff/edge/2/non-ios-extensions.js" type="text/javascript"></script>


</body></html>
