<head>
</head>

<body>
  <div id="container">
    <button onclick="scanCodeV3()">QR Code Reader</button>
  </div>
  <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
  <script>
    async function scanCodeV3() {
      await liff.init({ liffId: '1656609726-7anN2L1G' });
        
          if (!liff.scanCode) throw new Error("liff.scanCode 不存在");
          this.showLoading("請稍候", "liff.scanCode()");
          var i = _.get(await liff.scanCode(), "value");
          this.$set(this.tests, 0, 1), await Swal.fire({
              icon: "success",
              title: "掃碼成功 V1",
              text: i
          })
 
         
      
      
      
      
    
      
    
</script>


</body></html>
