<HTML>
<HEAD>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
<TITLE>語法測試版</TITLE>
</HEAD>
<BODY>
 

<script>
window.onload = function() {
 liff.scanCodeV2();
}
</script>



</BODY>
</HTML>
