<!DOCTYPE html>   
<html>   
<head>   
<meta charset=" utf-8">   
<title>使用 window.onload() 测试</title>
<style type="text/css">
#bg{
    width:120px;
    height:120px;
    border:4px solid blue;
}
</style>
<button onclick="scanCodeV2()">QR Code Reader</button>
<script type="text/javascript">

    async function scanCodeV2() {
     window.loginPromise=(async()=>{await liff.init({liffId:"1656609726-7anN2L1G"}),liff.isLoggedIn()||(liff.login({redirectUri:location.href}),await new Promise(i=>{}))})(),window.vm=new Vue({el:"#app",data:{sdk:{getLineVersion:"",getOS:"",getVersion:"",isInClient:""},tests:[0,0],icons:["fa-question-circle","fa-check-circle","fa-times-circle"],btns:["btn-outline-dark","btn-success","btn-danger"]},async mounted(){this.showLoading("請稍候","網頁載入中"),await window.loginPromise,_.each([["getLineVersion"],["getOS"],["getVersion"],["isInClient"]],i=>{this.$set(this.sdk,i[0],JSON.stringify(_.invoke(liff,...i)))}),Swal.close()},methods:{async btnScanCode(){try{if(!liff.scanCode)throw new Error("liff.scanCode 不存在");this.showLoading("請稍候","liff.scanCode()");var i=_.get(await liff.scanCode(),"value");this.$set(this.tests,0,1),await Swal.fire({icon:"success",title:"掃碼成功 V1",text:i})}catch(i){console.log(i),this.$set(this.tests,0,2),await Swal.fire({icon:"error",title:"掃碼失敗 V1",text:i.message})}},async btnScanCodeV2(){try{if(!liff.scanCodeV2)throw new Error("liff.scanCodeV2 不存在");this.showLoading("請稍候","liff.scanCodeV2()");var i=_.get(await liff.scanCodeV2(),"value");this.$set(this.tests,1,1),await Swal.fire({icon:"success",title:"掃碼成功 V2",text:i})}catch(i){console.log(i),this.$set(this.tests,1,2),await Swal.fire({icon:"error",title:"掃碼失敗 V2",text:i.message})}},showLoading(i,e){Swal.fire({title:i,text:e,allowOutsideClick:!1,showConfirmButton:!1,willOpen:()=>{Swal.showLoading()}})}}});
  
};
</script>
</head>
<body>
    <div id="bg">12345</div>
</body>
</html>
