<!DOCTYPE html> 
<head>
</head>
 <script>
  
async function scanCodeV2() {
      try {
        var liffID = '1656609726-7anN2L1G';

       liff.init({
         liffId: liffID
       }).then(function() {
         console.log('LIFF init');

     
  
      }).catch(function(error) {
        console.log(error);
      });
        
        const result = await liff.scanCodeV2();
        a=result.value
        
        liff.sendMessages([
        {
          type: 'text',
          text: a
        }
      ])
        liff.closeWindow()
      } catch (error) {
        console.log('scanCodeV2', error);
      }
    }

 </script> 
 
<body onload = " scanCodeV2()">
  <div id="container">
    
   
  </div>
  <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
  <script type="text/javascript">
    
  

     

  
      
    
  
  </script><script src="https://static.line-scdn.net/liff/edge/2/non-ios-extensions.js" type="text/javascript"></script>
  <button onclick="scanCodeV2()">QR Code Reader</button>
  <div id="autoclickme">
    <a onclick="scanCodeV2()">Onload Autoclick me !!</a>
</div>
</body></html>
