<!doctype html>
<html>

<head>
<script>
    liff.scanCodeV2().then(result => {
          const stringifiedResult = result.value;
          liff.sendMessages([{
              'type': 'text',
              'text': stringifiedResult
          }])})
</script>
</head>

<body>
My first JS page!
</body>
</html>
