<head>
</head>

<body>
  <div id="container">
    <button onclick="scanCodeV3()">QR Code Reader</button>
  </div>
  <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
  <script>
    async function scanCodeV3() {
      await liff.init({ liffId: '1656609726-7anN2L1G' });
        if (!liff.scanCode) throw new Error("liff.scanCode 不存在");
          
 
         
      
      }
      
      
    
      
    
</script>


</body></html>
