<HTML>
<HEAD>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
<TITLE>語法測試版</TITLE>
</HEAD>
<BODY>
  <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>

<script>
liff.scanCodeV2();
</script>



</BODY>
</HTML>
